@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext);

/*Треугольники*/
.calendar__modal:before {
    content: '';
    width: 0;
    height: 0;

    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -15px; /* - 5px for padding */

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid gray;
}

.calendar__modal:after {
    content: '';
    width: 0;
    height: 0;

    position: absolute;
    top: -19px;
    left: 50%;
    margin-left: -14px; /* - 5px for padding */

    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 19px solid white;
}

.calendar__modal__triangle-down {
    position: absolute;
    top: -15px;
    right: 50%;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
}

/*Разметка*/
.calendar__modal {
    position: relative;

    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;

    width: 400px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.calendar__modal__table {
    display: table;

    width: 100%;
    border-spacing: 5px 5px;
}

.calendar__modal__table td {
    padding: 0;
    margin: 0;
}

.calendar__modal__table td:first-child {
    width: 1px; /*Фиксированная ширина*/
    text-align: right;
    vertical-align: top;
}

.calendar__modal__buttons {
    text-align: right;
}

/*Внешний вид элементов*/

.calendar__modal__title {
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.calendar__modal input {
    font-size: 14px;
    font-family: monospace;
}

.calendar__modal input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}

.calendar__modal textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;

    vertical-align: top;

    height: 100px;
    resize: none;

    font-size: 14px;
}

.calendar__modal select {
    font-size: 14px;
    padding: 2px;
}

.calendar__modal label {
    font-size: 14px;
}

.calendar__modal label.required:after {
    content: "*";
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    color: red;
}

.calendar__modal input.error {
    border: 1.5px solid red;
}

.calendar__modal__error_message {
    color: red;
    font-size: 12px;
}

/*Calendar buttons todo: make one button style for both modal and calendar*/

.calendar__button {
    display: inline-block;
    min-width: 20px;
    height: 14px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    line-height: 12px;
    vertical-align: middle;

    outline: none;
    border: none;
    border-radius: 4px;

    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
    transition: background 300ms;
}

.calendar__button:active {
    box-shadow: none !important;
    line-height: 14px;
}

.calendar__button-ok {
    background: #5bb75b;
    color: #fafafa;
}

.calendar__button-ok:hover {
    background: #47a247;
}

.calendar__button-cancel {
    background: #da4f49;
    color: #fafafa;
}

.calendar__button-cancel:hover {
    background: #d0312a;
}

.calendar__button-remove {
    background: #363636;
    color: #fafafa;
}

.calendar__button-remove:hover {
    background: #222;
}

