<div class="calendar__modal">
    <p class="calendar__modal__title">
        <%= edit ? "Редактировать событие" : "Новое событие" %>
    </p>
    <form autocomplete="off">
        <table class="calendar__modal__table">
            <tbody>
            <tr>
                <td>
                    <label class="required">Наименование</label>
                </td>
                <td>
                    <input type="text" name="title" maxlength="30" value='<%= edit ? event.title : "" %>'>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Описание</label>
                </td>
                <td>
                    <textarea name="description" maxlength="200"><%= edit ? event.description : "" %></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="required">Дата</label>
                </td>
                <td>
                    <!--<input type="date">-->
                    <input name="datepicker" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="label">Время</label>
                </td>
                <td>
                    <!--<input type="time">-->
                    <input name="timepicker" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="required">Напомнить</label>
                </td>
                <td>
                    <select name="remind">
                        <option value="no">нет</option>
                        <option value="1h">за 1 час</option>
                        <option value="5m">за 5 минут</option>
                        <option value="in_time">вовремя</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <span class="calendar__modal__error_message" hidden>Заполните пустые поля!</span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="calendar__modal__buttons">
            <a class="calendar__button calendar__button-ok">OK</a>
            <a class="calendar__button calendar__button-cancel">Отмена</a>
            <% if (edit) {%>
            <a class="calendar__button calendar__button-delete">Удалить</a>
            <% } %>
        </div>
    </form>

</div>